@import "./main/_vars";
@import "./main/_mixins";
@import "./main/_functions";
@import "./main/_fonts";


@import "./blocks/_main";
@import "./blocks/_descr";
@import "./blocks/_tabs";
@import "./blocks/_calc";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FuturaPT";
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // overflow-x: hidden;
}

img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.container {
    width: vw(1440);
    margin: 0 auto;
    @include max(sm) {
        width: 100%; 
        padding: 0 10px;
    }
}