.tabs {
    position: relative;
    padding-bottom: vw(50);

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: vw(970);
        margin: 0 auto;

        list-style-type: none;

        &_tab {
            border-radius: vw(70);
            background-color: #F5F5F5;
            box-shadow: 0 vw(10) vw(20) 0 #F2578C;

            display: flex;
            justify-content: center;
            align-items: center;
            width: vw(268);
            height: vw(108);
            gap: vw(10);
            cursor: pointer;

            color: $main-color;
            font-family: Oks Free;
            font-size: vw(48);
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include max(sm) {
                font-size: vw2(48);
                width: vw2(171);
                height: vw2(108);
                border-radius: vw2(70);
                box-shadow: 0 vw2(10) vw2(20) 0 #F2578C;
            }
        }

        @include max(sm) {
            width: vw2(621);
        }
    }

    &__problems {
        position: relative;
        display: flex;
        margin-top: vw(200);

        @include max(sm) {
            margin-top: vw2(270);

        }

        &_age {
            display: flex;
            justify-content: center;
            padding-top: vw(132);
            width: vw(412);
            height: vw(412);
            border-radius: 100%;
            background-color: #F1F1EF;
            box-shadow: 0 vw(20) vw(25) vw(8) #AB90BD;

            span {
                color: $main-color;
                font-family: Oks Free;
                font-size: vw(128);
                font-weight: 400;
                line-height: normal;
            }

            @include max(sm) {
                position: absolute;
                top: vw2(-103);
                left: vw2(79);
                width: vw2(179);
                height: vw2(179);
                font-size: vw2(64);
                box-shadow: 0 vw2(20) vw2(25) vw2(8) #AB90BD;
            }
        }

        &_info {
            margin-left: vw(120);

            @include max(sm) {
                margin: 0 auto;
            }
        }

        &_title {
            color: $main-color;
            font-family: Oks Free;
            font-size: vw(64);
            font-weight: 400;
            line-height: normal;

            @include max(sm) {
                font-size: vw2(64);
                text-align: end;
                padding-right: vw2(88);
            }
        }

        &_descr {
            width: vw(875);
            margin-top: vw(23);
            color: $main-color;
            font-size: vw(24);
            font-weight: 400;
            line-height: normal;

            @include max(sm) {
                width: vw2(624);
                font-size: vw2(28);
                margin-top: vw2(45);
            }
        }

        &_shadow {
            position: absolute;
            z-index: -1;
            right: vw(-231);
            top: 50%;
            transform: translateY(-50%);
            height: vh(548);

            @include max(sm) {
                opacity: 0;
                scale: 0;
                z-index: -100;
            }
        }

        &_shadow2 {
            position: absolute;
            opacity: 0;
            scale: 0;
            z-index: -100;
            right: 0;
            top: vw2(-300);
            right: vw2(-10);
            height: 115%;

            @include max(sm) {
                opacity: 1;
                scale: 1;
                z-index: -1;
            }
        }

        &_tablet {
            &-center {
                position: absolute;
                width: vw2(65);
                height: vw2(178);
                filter: drop-shadow(0 vw2(20) vw2(20) #EFA7B2);

                img {
                    transform: rotate(104deg);
                }

                opacity: 0;
                scale: 0;
                z-index: -100;
                top: vw2(-167);
                right: vw2(194);

                @include max(sm) {
                    opacity: 1;
                    scale: 1;
                    z-index: 10;
                }
            }

            &-right {
                position: absolute;
                width: vw2(86);
                height: vw2(86);
                filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);

                img {
                    transform: rotate(164deg);
                }

                opacity: 0;
                scale: 0;
                z-index: -100;
                top: vw2(-18);
                right: vw2(55);

                @include max(sm) {
                    opacity: 1;
                    scale: 1;
                    z-index: 10;
                }
            }
        }
    }

    &__content {
        &_tablet {
            position: relative;

            @include max(sm) {

                height: vw2(388);
                width: 100%;
            }

            &-center {
                position: absolute;
                width: vw2(65);
                height: vw2(178);
                filter: drop-shadow(0 vw2(20) vw2(20) #EFA7B2);

                img {
                    transform: rotate(104deg);
                }

                opacity: 0;
                scale: 0;
                z-index: -100;
                bottom: vw2(150);
                left: vw2(210);

                @include max(sm) {
                    opacity: 1;
                    scale: 1;
                    z-index: 10;
                }
            }

            &-right {
                position: absolute;
                width: vw2(86);
                height: vw2(86);
                filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);

                img {
                    transform: rotate(164deg);
                }

                opacity: 0;
                scale: 0;
                z-index: -100;
                bottom: vw2(51);
                right: vw2(220);

                @include max(sm) {
                    opacity: 1;
                    scale: 1;
                    z-index: 10;
                }
            }

            &-left {
                position: absolute;
                width: vw2(107);
                height: vw2(107);
                filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);

                img {
                    transform: rotate(-145deg);
                }

                opacity: 0;
                scale: 0;
                z-index: -100;
                bottom: vw2(75);
                left: vw2(45);

                @include max(sm) {
                    opacity: 1;
                    scale: 1;
                    z-index: 10;
                }
            }

            &-line {
                position: absolute;
                width: vw2(800);
                height: auto;
                opacity: 0;
                scale: 0;
                z-index: -100;
                bottom: 0;
                right: vw2(-76);

                @include max(sm) {
                    opacity: 1;
                    scale: 1;
                    z-index: 10;
                }
            }
        }
    }

    .btn-spas {
        color: $main-color;
        font-family: Oks Free;
        font-size: vw(48);
        font-weight: 400;
        line-height: normal;
        text-decoration: none;

        width: vw(606);
        height: vw(108);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: vw(10);

        border-radius: vw(70);
        background-color: #F5F5F5;
        box-shadow: 0 vw(10) vw(20) #F2578C;

        @include max(sm) {
            width: vw2(623);
            height: vw2(108);
            border-radius: vw2(70);
            font-size: vw2(48);
            box-shadow: 0 vw2(10) vw2(20) #F2578C;
            margin-top: vw2(83);
        }
    }

    &__btn {
        margin-top: vw(54);
    }

    &__block {
        position: relative;
        padding: vw(32) vw(118) vw(26) vw(90);
        margin-top: vw(116);
        display: flex;
        justify-content: space-between;
        border-radius: vw(133);
        background-color: #F1F1EF;
        box-shadow: 0 0 vw(150) vw(3) #E58DAB inset, vw(200) vw(80) vw(250) vw(50) #FFC2D7 inset;

        @include max(sm) {
            flex-direction: column;
            justify-content: unset;
            width: vw2(750);
            margin: 0 auto;

            border-radius: vw2(133);
            box-shadow: 0 0 vw2(150) vw2(3) #E58DAB inset, vw2(200) vw2(80) vw2(250) vw2(50) #FFC2D7 inset;
            padding: vw2(48) vw2(63) vw2(65);
            margin-top: vw2(81);
        }

        &_left {
            @include max(sm) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row-reverse;
            }

            &-right {
                @include max(sm) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &_title {
            color: $main-color;
            font-family: Oks Free;
            font-size: vw(64);
            font-weight: 400;
            line-height: normal;

            @include max(sm) {
                font-size: vw2(64);
            }
        }

        &_name {
            color: $main-color;
            font-size: vw(28);
            font-weight: 700;
            line-height: normal;
            margin-top: vw(14);

            @include max(sm) {
                font-size: vw2(28);
                margin-top: vw(11);
            }
        }

        &_img {
            width: vw(273);
            height: vw(273);
            border-radius: 100%;
            box-shadow: vw(15) 0 vw(40) 0 #AB90BD;
            margin-top: vw(26);

            @include max(sm) {
                width: vw2(228);
                height: vw2(228);
                box-shadow: vw2(15) 0 vw2(40) 0 #AB90BD;
                margin-top: 0;
                margin-right: vw2(28);
            }
        }

        &_descr {
            width: vw(850);
            color: $main-color;
            font-size: vw(24);
            font-weight: 400;
            line-height: normal;

            @include max(sm) {
                font-size: vw2(24);
                width: vw2(617);
                margin-top: vw2(9);
            }
        }

        &_descr2 {
            width: vw(796);
            @include max(sm) {
                width: vw2(617);
                margin-bottom: vw2(44);
            }
        }

        &_btn {
            margin-top: vw(11) !important;

            @include max(sm) {
                margin-top: vw2(20) !important;
            }
        }

        &_tablet {
            &-left {
                position: absolute;
                height: vw(178);
                left: vw2(35);
                bottom: vw(46);
                filter: drop-shadow(0 vw(20) vw(20) #EFA7B2);

                img {
                    transform: rotate(-43deg);
                }

                @include max(sm) {
                    height: vw2(139);
                    top: vw2(35);
                    right: vw2(68);
                    left: unset;
                    bottom: unset;
                    z-index: 10;
                    filter: drop-shadow(0 vw2(20) vw2(20) #EFA7B2);
                }

            }

            &-right {
                position: absolute;
                height: vw(91);
                width: vw(91);
                left: vw(247);
                bottom: vw(81);
                filter: drop-shadow(vw(5) vw(10) vw(20) #EFA7B2);

                img {
                    transform: rotate(-1deg);
                }

                @include max(sm) {
                    display: none;
                }
            }

            &-right1 {
                position: absolute;
                height: vw(87);
                width: vw(87);
                right: vw(130);
                bottom: vw(22);
                filter: drop-shadow(vw(5) vw(10) vw(20) #EFA7B2);

                img {
                    transform: rotate(-1deg);
                }
                @include max(sm) {
                    height: vw2(87);
                    width: vw2(87);
                    right: vw2(302);
                    bottom: vw2(34);
                    filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);
                }
            }

            &-right2 {
                position: absolute;
                height: vw(77);
                width: vw(77);
                right: vw(231);
                bottom: vw(44);
                filter: drop-shadow(vw(5) vw(10) vw(20) #EFA7B2);

                img {
                    transform: rotate(41deg);
                }
                @include max(sm) {
                    height: vw2(77);
                    width: vw2(77);
                    right: vw2(405);
                    bottom: vw2(55);
                    filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);
                }
            }

            &-right3 {
                position: absolute;
                height: vw(77);
                width: vw(77);
                right: vw(96);
                bottom: vw(170);
                filter: drop-shadow(vw(5) vw(10) vw(20) #EFA7B2);

                img {
                    transform: rotate(41deg);
                }
                @include max(sm) {
                    height: vw2(77);
                    width: vw2(77);
                    right: vw2(405);
                    bottom: vw2(55);
                    filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);
                }
            }

            &-center1 {
                position: absolute;
                height: vw(87);
                width: vw(87);
                right: 48%;
                bottom: vw(100);
                filter: drop-shadow(vw(5) vw(10) vw(20) #EFA7B2);

                img {
                    transform: rotate(-1deg);
                }
                @include max(sm) {
                    height: vw2(87);
                    width: vw2(87);
                    right: vw2(302);
                    bottom: vw2(34);
                    filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);
                }
            }

            &-center2 {
                position: absolute;
                height: vw(153);
                width: vw(56);
                left: 56%;
                bottom: vw(25);
                filter: drop-shadow(0 vw(20) vw(20) #EFA7B2);

                img {
                    transform: rotate(72deg);
                    @include max(sm) {
                        transform: rotate(-43deg);
                    }
                }
                @include max(sm) {
                    height: vw2(139);
                    width: vw2(50);
                    left: unset;
                    right: vw2(68);
                    bottom: unset;
                    top: vw2(85);
                    filter: drop-shadow(0 vw2(20) vw2(20) #EFA7B2);
                }
            }
        }
    }

    &__block2 {
        padding: vw(55) vw(121) vw(110) vw(90);
        margin-top: vw(152);

        @include max(sm) {
            padding: vw2(95) vw2(63) vw2(195) vw2(63);
            margin-top: vw2(48);
        }

        &_tablet {
            &-right2 {
                right: unset;
                left: vw(273);
                top: unset;
                bottom: 0;
                width: vw(56);
                height: vw(153);
                filter: drop-shadow(0 vw(20) vw(20) #EFA7B2);

                img {
                    transform: rotate(72deg);
                }
            }
        }
    }

    &__info {
        position: relative;
        margin: 0 auto;
        margin-top: vw(80);

        @include max(sm) {
            margin-top: vw2(34);
            width: vw2(624);
        }

        &_title {
            color: $main-color;
            font-family: Oks Free;
            font-size: vw(64);
            font-weight: 400;
            line-height: normal;
            letter-spacing: vw(3.2);
            padding-left: vw(17);

            @include max(sm) {
                letter-spacing: vw2(3.2);
                padding-left: vw2(1);
                font-size: vw2(64);
            }
        }

        &_btn {
            @include max(sm) {
                margin-top: 0 !important;
            }
        }

        &_btn2 {
            width: vw(200);

            @include max(sm) {
                font-size: vw2(48);
                width: vw2(171);
                margin-right: vw2(53);
                margin-top: vw2(40);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: vw(40);

        @include max(sm) {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: vw2(34);
        }
    }

    &__list {
        position: relative;
        margin-top: vw(40);
        width: vw(1320);
        padding-left: vw(50);
        list-style-type: none;

        @include max(sm) {
            margin-top: vw2(34);
            width: vw2(560);
            padding-left: vw2(50);
        }

        &_item {
            position: relative;
            color: $main-color;
            font-size: vw(24);
            font-weight: 400;
            line-height: normal;
            margin-top: vw(42);

            @include max(sm) {
                margin-top: vw2(35);
                font-size: vw2(24);
            }

            &:first-child {
                margin-top: 0;
            }

            span {
                font-weight: 500;
            }

            &::before {
                content: '';
                position: absolute;
                left: vw(-50);
                display: block;
                border-radius: 100%;
                width: vw(20);
                height: vw(20);
                background-color: $main-color;

                @include max(sm) {
                    left: vw2(-44);
                    width: vw2(20);
                    height: vw2(20);
                }
            }
        }
    }

    &__shadow {
        position: absolute;
        top: -85%;
        left: vw(-235);
        z-index: -1;
        svg {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
        @include max(sm) {
            width: vw2(800);
            top: -15%;
            left: vw2(-88);
        }
    }

    &__tablet {
        &_left {
            position: absolute;
            left: vw(-175);
            bottom: vw(82);
            width: vw(65);
            height: vw(178);
            filter: drop-shadow(0 vw(20) vw(20) #EFA7B2);

            img {
                transform: rotate(37deg);

                @include max(sm) {
                    transform: rotate(-141deg);
                }
            }

            @include max(sm) {
                left: unset;
                right: vw2(-100);
                bottom: vw2(26);
                width: vw2(42);
                height: vw2(117);
                filter: drop-shadow(0 vw2(20) vw2(20) #EFA7B2);
            }
        }
        &_left2 {
            @include max(sm) {
                right: vw2(-105);
                bottom: vw2(135);
            }
        }

        &_right {
            position: absolute;
            right: vw(-75);
            top: vw(8);
            width: vw(86);
            height: vw(86);
            filter: drop-shadow(vw(5) vw(10) vw(20) #EFA7B2);

            img {
                transform: rotate(164deg);
                @include max(sm) {
                    transform: rotate(48deg);
                }
            }
            @include max(sm) {
                right: vw2(127);
                top: 0;
                width: vw2(70);
                height: vw2(70);
                filter: drop-shadow(vw2(5) vw2(10) vw2(20) #EFA7B2);
            }
        }
    }

    &__line {
        position: absolute;
        bottom: 0;
        right: vw(-231);
        height: vw(388);
        z-index: -1;

        @include max(sm) {

            opacity: 0;
            scale: 0;
            z-index: -100;
        }
    }

    &__line22 {
        position: absolute;
        bottom: 0;
        opacity: 0;
        scale: 0;
        z-index: -100;
        right: vw2(-88);
        width: vw2(346);
        svg {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }

        @include max(sm) {
            opacity: 1;
            scale: 1;
            z-index: -1;
        }
    }

    &__line2 {
        bottom: vw(40);
        height: vw(415);
        width: vw(415);
        z-index: -1;
    }

    &__btn {
        &_bottom {
            margin: 0 auto;
            margin-top: vw(124);
        }
    }

    &__bottom {
        margin-top: vw(72);
        width: max-content;
        justify-content: center;
        @include max(sm) {
            width: vw2(623);
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .tabs__info_btn {
            display: none;
            @include max(sm) {
                display: flex;
            }
        }
        

        &_tab {
            margin-right: vw(110);

            @include max(sm) {
                width: vw2(171);
                
                margin-top: vw2(40);
            }

            &:last-child {
                margin-right: 0;
                
            }
        }
    }
}