@font-face {
    font-family: "FuturaPT";
    src:
      url("../fonts/FuturaPT-Book.ttf") format("ttf"),
      url("../fonts/FuturaPT-Book.otf") format("otf"),
      url("../fonts/FuturaPT-Book.woff") format("woff"),
      url("../fonts/FuturaPT-Book.woff2") format("woff2");
      font-weight: 400;
  }
  @font-face {
    font-family: "FuturaPT";
    src:
      url("../fonts/FuturaPT-Demi.ttf") format("ttf"),
      url("../fonts/FuturaPT-Demi.otf") format("otf"),
      url("../fonts/FuturaPT-Demi.woff") format("woff"),
      url("../fonts/FuturaPT-Demi.woff2") format("woff2");
      font-weight: 500;
  }
  @font-face {
    font-family: "FuturaPT";
    src:
      url("../fonts/FuturaPT-Medium.ttf") format("ttf"),
      url("../fonts/FuturaPT-Medium.otf") format("otf"),
      url("../fonts/FuturaPT-Medium.woff") format("woff"),
      url("../fonts/FuturaPT-Medium.woff2") format("woff2");
      font-weight: 600;
  }
  @font-face {
    font-family: "FuturaPT";
    src:
      url("../fonts/FuturaPT-MediumObl.ttf") format("ttf"),
      url("../fonts/FuturaPT-MediumObl.otf") format("otf"),
      url("../fonts/FuturaPT-MediumObl.woff") format("woff"),
      url("../fonts/FuturaPT-MediumObl.woff2") format("woff2");
      font-weight: 700;
  }
  @font-face {
    font-family: "OksFree";
    src:
      url("../fonts/OksFree.otf") format("otf"),
      url("../fonts/OksFree.woff2") format("woff2");
      font-weight: 400;
  }