@font-face {
    font-family: "Evolenta";
    src:
      url("../fonts/Evolenta-Bold.ttf") format("ttf"),
      url("../fonts/Evolenta-Bold.otf") format("otf"),
      url("../fonts/Evolenta-Bold.woff") format("woff");
      font-weight: 700;
  }