// @media for vw

$media-list: (
		'xxs': 375,
		'xs': 560,
		'sm': 800,
		'md': 992,
		'mdHeader': 1079,
		'lg': 1279,
		'xl': 1706,
		'xxl': 1920
);

// colors

$main-color: #801330;
$border-color: #F2578C;